.App {
  text-align: center;
}

body {
  max-width: 100%;
}

select {
  color: white;
  background-color: #444;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.comment {
  border: 2px solid #eee;
}

.add-comment {
  margin: 12px;
  padding: 8px;
  border: 1px dashed #444;
  min-height: 48px;
}

#loginform {
  display: flex;
}

.loggedInUser {
  display: flex;
  justify-content: flex-end;
  gap: 8px;
}

.headerAvatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.error {
  color: red;
}

.back {
  color: yellow;
  font-weight: bold;
}
